<div [hidden]="!UI.loadingData">
  <loading-spinner-component></loading-spinner-component>
</div>
<div id="planning-editor-wizard" #kendoUIContainer [hidden]="!UI.ready">
  <!-- Customer Combobox -->
  <div class="row">
    <div class="col-md-2 field-label">
      Planning Entity
    </div>
    <div class="col-md-8">
      <kendo-combobox class="combobox-column"
                      placeholder="Select Customer..."
                      [(ngModel)]="model.SelectedCustomer"
                      [data]="model.CustomerList"
                      [textField]="'value'"
                      [valueField]="'value'"
                      [filterable]="true"
                      (selectionChange)="UI.handlers.onCustomerSelectChange($event)"
                      (filterChange)="UI.handlers.onCustomerFilterChange($event)"></kendo-combobox>
    </div>
  </div>
  <!-- Banners/Division MULTISELECT -->
  <div class="row" style="display:none">
    <div class="col-md-2 field-label">
      X
    </div>
    <div class="col-md-8">
      <select #bannerselection multiple="multiple" data-placeholder="Select Banners/Divisions..."></select>
    </div>
  </div>
  <!-- Category Combobox -->
  <div class="row">
    <div class="col-md-2 field-label">
      Category
    </div>
    <div class="col-md-8">
      <select #categoryselection multiple="multiple" data-placeholder="Select Category..."></select>
    </div>
  </div>
  <!-- PPGs MULTISELECT -->
  <div class="row">
    <div class="col-md-2 field-label">
      KHBM PPGs
    </div>
    <div class="col-md-8">
      <select #ppgselection multiple="multiple" data-placeholder="Select KHBM PPGs..."></select>
    </div>
  </div>
  <!-- SAP PPGs MULTISELECT -->
  <div class="row">
    <div class="col-md-2 field-label">
      SAP PPGs
    </div>
    <div class="col-md-8">
      <select #sapppgselection multiple="multiple" data-placeholder="Select SAP PPGs..."></select>
    </div>
  </div>
</div>
